doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1 To Do App
    div(id="todolist")
    input(type="text",id="name")
    input(type="button",value="Add")

    block content 
    h3  "some data insertedd..."

    block content 
    h1 Again data change
    
    

